#Default Game stuff
*.zip
*.onnx
workspace/deeprl/deeprl1/onnxrt_lib
workspace/deeprl/deeprl1/tmponnx

**/logs/
**/league_snapshots/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
env/
venv/
ENV/
.venv/
.idea/venv/

# Pyenv
.python-version

# Pipenv
Pipfile.lock

# Poetry
poetry.lock

# pytest
.cache/
.pytest_cache/

# mypy
.mypy_cache/

# Coverage
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# PyCharm
.idea/

# VS Code Settings
.settings/

# Local config
*.env
*.local

# SQLite
*.sqlite3

# Logs
*.log

# OS files
.DS_Store
Thumbs.db