APScheduler==3.10.1
Authlib==1.3.1
Automat==22.10.0
Brotli==1.1.0
ConfigArgParse==1.7
Cython==0.29.37
Django==5.1
Farama-Notifications==0.0.4
GPUtil==1.4.0
GitPython==3.1.43
ImageHash==4.3.1
Jinja2==3.1.4
Markdown==3.6
MarkupSafe==2.1.5
PuLP==2.9.0
PyJWT==2.9.0
PyWavelets==1.7.0
PyYAML==6.0.2
Pygments==2.18.0
SQLAlchemy==2.0.32
Twisted==24.7.0
Werkzeug==3.0.3
absl-py==2.1.0
aider-chat==0.58.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aioresponses==0.7.6
aiosignal==1.3.1
ale-py==0.10.2
amqp==5.2.0
annotated-types==0.7.0
annoy==1.17.3
anthropic==0.34.2
antlr4-python3-runtime==4.9.3
anyio==4.6.0
asgiref==3.8.1
astunparse==1.6.3
attrs==24.2.0
audioread==3.0.1
autobahn==24.4.2
autocommand==2.2.2
av==12.3.0
awscli==1.33.44
backoff==2.2.1
backports.tarfile==1.2.0
backports.tarfile==1.2.0
beautifulsoup4==4.12.3
behave==1.2.6
billiard==4.2.0
black==24.8.0
boto3==1.34.123
botocore==1.34.162
bs4==0.0.1
build==1.2.1
cachetools==5.5.0
cbor2==5.6.4
celery-progress==0.4
celery==5.4.0
certifi==2024.8.30
cffi==1.17.1
channels==4.1.0
charset-normalizer==3.3.2
click-default-group==1.2.4
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.4
coloredlogs==15.0.1
constantly==23.10.4
contourpy==1.2.1
crcmod==1.7
cryptography==43.0.0
cycler==0.12.1
daphne==4.1.2
dataclasses-json==0.6.7
decorator==4.4.2
defusedxml==0.7.1
detectron2==0.6
diff-match-patch==20230430
diskcache==5.6.3
distro==1.9.0
django-allauth==64.1.0
django-anymail==11.1
django-channels==0.7.0
django-debug-toolbar==4.4.6
django-embed-video==1.4.10
django-environ==0.11.2
django-extensions==3.2.3
django-hijack==3.6.0
django-otp==1.5.2
django-storages==1.14.2
django-waffle==4.1.0
djangorestframework-simplejwt==5.3.1
djangorestframework==3.15.2
docker-pycreds==0.4.0
docker==6.1.3
docopt==0.6.2
docutils==0.16
drf-spectacular==0.27.2
ecdsa==0.19.0
einops==0.8.1
enum34==1.1.10
fastapi==0.110.3
ffmpeg-python==0.2.0
fido2==1.1.3
filelock==3.16.1
flake8==7.1.1
flatbuffers==24.3.25
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.9.0
future==1.0.0
fvcore==0.1.5.post20221221
gast==0.6.0
gevent==24.10.3
geventhttpclient==2.0.2
gitdb==4.0.11
google-ai-generativelanguage==0.6.6
google-api-core==2.19.1
google-api-python-client==2.141.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-auth==2.34.0
google-cloud-core==2.4.1
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-generativeai==0.7.2
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.63.2
greenlet==3.1.1
grep-ast==0.3.3
grpcio-health-checking==1.62.3
grpcio-status==1.62.3
grpcio-tools==1.62.3
grpcio==1.67.0
gymnasium==1.1.1
h11==0.14.0
h2==4.1.0
h5py==3.11.0
hardwario-chester==1.27.2
hardwario-cloud==1.5.0
hardwario-common==1.8.0
hardwario==1.5.0
hpack==4.0.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
huggingface-hub==0.25.0
humanfriendly==10.0
hydra-core==1.3.2
hyperframe==6.0.1
hyperlink==21.0.0
idna==3.10
imageio-ffmpeg==0.5.1
imageio==2.34.2
importlib_metadata==7.2.1
importlib_metadata==8.0.0
importlib_resources==6.4.0
importlib_resources==6.4.5
imutils==0.5.4
incremental==24.7.2
inference-cli==0.9.15
inference-gpu==0.17.1
inference-sdk==0.17.0
inference==0.18.1
inflect==7.3.1
inflection==0.5.1
iniconfig==2.0.0
intelhex==2.3.0
iopath==0.1.9
ipaddress==1.0.23
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.context==6.0.1
jaraco.functools==4.0.1
jaraco.functools==4.0.2
jaraco.text==3.12.1
jiter==0.5.0
jmespath==1.0.1
joblib==1.4.2
json5==0.9.25
jsonschema-specifications==2023.12.1
jsonschema==4.23.0
keras==3.4.1
keyring==25.3.0
kiwisolver==1.4.5
kombu==5.4.0
kornia==0.7.3
kornia_rs==0.1.5
lazy_loader==0.4
libclang==18.1.1
librosa==0.10.2.post1
litellm==1.47.0
llm-claude-3==0.4
llm==0.15
llvmlite==0.43.0
loguru==0.6.0
markdown-it-py==3.0.0
marshmallow==3.22.0
matplotlib==3.7.4
mccabe==0.7.0
mdurl==0.1.2
mido==1.3.2
ml-dtypes==0.4.0
more-itertools==10.3.0
more-itertools==10.4.0
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.8
multidict==6.1.0
mutagen==1.47.0
mypy-extensions==1.0.0
namex==0.0.8
networkx==3.2.1
nh3==0.2.18
nrfutil==5.0.0
numba==0.60.0
numpy==1.26.4
oauthlib==3.2.2
omegaconf==2.3.0
onnxruntime-gpu==1.15.1
onnxruntime==1.15.1
openai==1.47.0
opencv-contrib-python==4.10.0.84
opencv-python-headless==4.10.0.84
opencv-python==4.9.0.80
opt-einsum==3.3.0
optree==0.12.1
ordered-set==4.1.0
packaging==24.1
packaging==24.1
pandas==2.2.2
parse-type==0.6.2
parse==1.20.2
pathspec==0.12.1
pc_ble_driver_py==0.11.4
pendulum==3.0.0
pexpect==4.9.0
piccata==2.0.3
piexif==1.1.3
pillow==10.4.0
pip-tools==7.4.1
pip==24.0
pip==24.3.1
pkginfo==1.10.0
platformdirs==4.2.2
platformdirs==4.2.2
pluggy==1.5.0
pooch==1.8.2
portalocker==2.10.1
prettytable==3.11.0
proglog==0.1.10
prometheus-fastapi-instrumentator==6.0.0
prometheus_client==0.20.0
prompt-toolkit==3.0.31
proto-plus==1.24.0
protobuf==4.25.4
psutil==6.0.0
psycopg2-binary==2.9.9
psycopg2==2.9.9
ptyprocess==0.7.0
py-cpuinfo==9.0.0
pyOpenSSL==24.2.1
pyasn1==0.6.0
pyasn1_modules==0.4.0
pybase64==1.4.0
pycocotools==2.0.8
pycodestyle==2.12.1
pycparser==2.22
pycryptodomex==3.20.0
pydantic-settings==2.4.0
pydantic==2.9.2
pydantic_core==2.23.4
pydot==3.0.1
pydub==0.25.1
pyflakes==3.2.0
pygame==2.6.1
pykwalify==1.8.0
pylink-square==0.12.0
pynrfjprog==10.17.3
pypandoc==1.13
pyparsing==3.1.2
pyperclip==1.9.0
pypng==0.20220715.0
pyproject_hooks==1.1.0
pyreadline3==3.4.1
pyserial==3.5
pyspinel==1.0.0a3
pytesseract==0.3.10
pytest-asyncio==0.21.1
pytest==8.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-rapidjson==1.20
python-rtmidi==1.5.8
python-ulid==2.7.0
pytz==2024.1
pywin32-ctypes==0.2.3
pywin32==306
qdrant-client==1.12.0
qrcode==7.4.2
readme_renderer==44.0
redis==5.0.8
referencing==0.35.1
regex==2024.9.11
requests-file==2.1.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
requests==2.31.0
reverse-video-search==0.1.0
rfc3986==2.0.0
rich==13.5.2
rpds-py==0.20.0
rsa==4.7.2
ruamel.yaml.clib==0.2.8
ruamel.yaml==0.18.6
s3transfer==0.10.2
scenedetect==0.6.4
scikit-image==0.24.0
scikit-learn==1.5.1
scipy==1.13.1
seaborn==0.13.2
sentry-sdk==2.25.1
service-identity==24.1.0
setproctitle==1.3.5
setuptools==65.5.0
setuptools==72.1.0
shapely==2.0.1
six==1.16.0
skypilot==0.5.0
smmap==5.0.1
sniffio==1.3.1
sounddevice==0.5.0
soundfile==0.12.1
soupsieve==2.6
soxr==0.4.0
sqlite-fts4==1.0.3
sqlite-migrate==0.1b0
sqlite-utils==3.37
sqlparse==0.5.1
stable_baselines3==2.6.0
starlette==0.37.2
structlog==24.4.0
supervision==0.22.0
sympy==1.13.2
tabulate==0.9.0
tensorboard-data-server==0.7.2
tensorboard==2.17.0
tensorflow-intel==2.17.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow==2.17.0
termcolor==2.4.0
thop==0.1.1-2209072238
threadpoolctl==3.5.0
tifffile==2024.8.30
tiktoken==0.7.0
time-machine==2.15.0
tk==0.1.0
tldextract==5.1.2
tokenizers==0.19.1
tomli==2.0.1
tomli_w==1.0.0
torch==2.4.1+cu118
torchaudio==2.4.1+cu118
torchvision==0.19.1+cu118
tqdm==4.66.5
tree-sitter-languages==1.10.2
tree-sitter==0.21.3
tritonclient==2.50.0
twine==5.1.1
txaio==23.1.1
typeguard==4.3.0
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.12.2
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
ultralytics-thop==2.0.5
ultralytics==8.2.79
uritemplate==4.1.1
urllib3==1.26.20
validators==0.34.0
vine==5.1.0
wandb==0.19.9
wcwidth==0.2.13
weaviate-client==4.8.1
websocket-client==1.8.0
websockets==12.0
west==1.2.0
wheel==0.43.0
wheel==0.44.0
win32-setctime==1.1.0
wrapt==1.16.0
yacs==0.1.8
yarl==1.11.1
yt-dlp==2024.5.27
zipp==3.19.2
zipp==3.20.2
zope.event==5.0
zope.interface==7.0.1
zxing-cpp==2.2.0